.elements {
  margin: 0 auto;
}
.elements__container {
  display: flex;
  width: 69%;
  max-width: 880px;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  font-family: Inter;
  color: #000;
  column-gap: 17px;
  row-gap: 20px;
}
.elements__figure-container {
  display: flex;
  flex-direction: column;
}
.elements__figure {
  line-height: 0;
  margin: 0;
  object-fit: cover;
  height: 282px;
  width: 282px;
}

.elements__cards {
  max-width: 282px;
}

.elements__trash {
  padding: 18px;
  align-self: last baseline;
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

.elements__trash_hidden {
  visibility: visible;
  opacity: 1;
}

.elements__card-image {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.elements__content {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

.elements__text {
  font-size: 24px;
  font-weight: 900;
}

.block {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__like-button {
  display: inline-block;
  align-self: center;
  border: none;
  outline: none;
  cursor: pointer;
  background: url(../styles/images/like__button.svg) center no-repeat;
  width: 21px;
  height: 19px;
  background-size: 100%;
  transition: 0.3s;
}
.elements__like {
  margin: 22px 7px 0 0;
}

.elements__like-button_click {
  display: inline-block;
  align-self: center;
  border: none;
  outline: none;
  cursor: pointer;
  width: 21px;
  height: 19px;
  background-size: 100%;
  background: url(../styles/images/like__button__hover.png) center no-repeat;
}

.elements__like-counter {
  display: flex;
  justify-content: center;
  margin: 0;
}
@media screen and (max-width: 880px) {
  .elements {
    width: 100%;
  }

  .elements__card-image {
    width: 100%;
  }
}
