.logo {
  display: flex;
  margin-top: 45px;
  justify-content: space-around;
}

.logo__header-image {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 880px) {
  .logo__header-image {
    margin: 28px 0 0 27px;
  }
}
